* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #3B3B3B;
    height: 100vh;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/ef-hero-banner.jpeg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );
}
.hero-text{
        text-align: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-90%, -50%);
        color: white;
}
.chip {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    font-size: 10px;
    line-height: 22px;
    border-radius: 5px;
    background-color: #3B3B3B;
    margin-bottom: 5px;
  }
.title{
    font-size: 25px;
}
.container{
    display: flex;
    overflow:hidden;
    margin-top: 10px;
}
#parallelogram {
    width: 60px;
    height: 20px;
    margin: 0 0 0 -20px;
    border-radius: 10px 5px;
    -webkit-transform: skew(16deg);
       -moz-transform: skew(16deg);
         -o-transform: skew(16deg);
    background: #cd0204;
    overflow:hidden;
    position:relative;
}
.discount {
    padding-left: 25px;
    padding-top: 3px;
    transform: skew(-15deg);
    font-size: 13px;
}
.price{
    font-size: 25px;
    margin-left: 10px;
    margin-top: -4px;
    
}
.headerBar{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.list {
    display: flex;
    list-style-type:none;
}
ul li{
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: center;
    color: white;
}
.navbar ul li{
    padding: 7px;
    font-size: 13px;
}
.ulColor{
    background-color: #3B3B3B;
    background-image: linear-gradient(to right, #1b1b1b , rgb(52, 52, 51));
    padding: 10px;
    border-radius: 15px;
}