* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #424242;
    height: 100vh;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/ef-hero-banner.jpeg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}